#game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 2rem;
  padding: 2rem;
}

#game div {
    border: 1px solid white;
    width: 80%;
    height: 200px;
    margin: 10px;
  }
  
  body {
    background-color: black;
  }
  
  h1 {
    color: aqua;
    display: flex;
    justify-content: center;
  }